// socials
// -------------------------

.instagram {
	background-image: url('../img/social_icons/instagram.svg');
	.no-svg & {
		background-image: url('../img/social_icons/instagram.png');
	}
}
.linkedin {
	background-image: url('../img/social_icons/linkedin.svg');
	.no-svg & {
		background-image: url('../img/social_icons/linkedin.png');
	}

}
.facebook {
	background-image: url('../img/social_icons/facebook.svg');
	.no-svg & {
		background-image: url('../img/social_icons/facebook.png');
	}

}
.pintrest {
	background-image: url('../img/social_icons/pintrest.svg');
	.no-svg & {
		background-image: url('../img/social_icons/pintrest.png');
	}

}
.email {
	background-image: url('../img/social_icons/email.svg');
	.no-svg & {
		background-image: url('../img/social_icons/email.png');
	}

}
.button-search {
	background-image: url('../img/icon_search.svg');
	.no-svg & {
		background-image: url('../img/icon_search.png');
	}

}

.topper {
	background-image: url('../img/arrow_top.svg');
	.no-svg & {
		background-image: url('../img/arrow_top.png');
	}

}
.button-menu {
	background-image: url('../img/menu.svg');
	.no-svg & {
		background-image: url('../img/menu.png');
	}
	.navigation-is-open & {
		background-image: url('../img/menu-closed.svg');
		.no-svg & {
			background-image: url('../img/menu-closed.png');
		}
	}
}

.button-newsletter, .button-contact {
	background-image: url('../img/contact.svg');
	.no-svg & {
		background-image: url('../img/contact.png');
	}
}
.button-newsletter {
	background-image: url('../img/newsletter.svg');
	.no-svg & {
		background-image: url('../img/newsletter.png');
	}
	.nl-NL & {
		background-image: url('../img/newsletter_nl.svg');
		.no-svg & {
			background-image: url('../img/newsletter_nl.png');
		}
	}
}



////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
// buttons
%button {
	cursor: pointer;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	padding: 0 10px;
	background-position: center center;
	background-repeat: no-repeat;

	line-height: $height-bt-S;
	width: $width-bt-S;
	height: $height-bt-S;
	background-size: $height-bt-S;

	@include MQ(XL) {
		line-height: $height-bt-XL;
		width: $width-bt-XL;
		height: $height-bt-XL;
		background-size: $height-bt-XL;
	}

}

.button {
	@extend %button;
}
.button-header {
	margin-top: ($height-nav-header-XS - $height-bt-XS) / 2;
	@include MQ(S) {
		margin-top: ($height-nav-header-S - $height-bt-S) / 2;
	}
	@include MQ(M) {
		margin-top: ($height-nav-header-M - $height-bt-M) / 2;
	}
	@include MQ(L) {
		margin-top: ($height-nav-header-L - $height-bt-L) / 2;
	}
	@include MQ(XL) {
		margin-top: ($height-nav-header-XL - $height-bt-XL) / 2;
	}
}

.button-menu {
	@extend %button;
	background-position: right 10px center;
	background-size: 17px 13px;
	width: auto;
	padding-right: 35px;
	float: left;
	color: $color-text;
	@include trans('all');
	//@include transition(margin-left $animation-duration - 0.2s, top .3s);
	&:hover {
		background-color: $color-bg-menu;
		//color: #fff;
	}
	.navigation-is-open & {
		color: #fff;
		background-color: $color-green-dark;
	}
}
.button-search, .button-language, .button.topper {
	@extend %button;
	//background-color: $color-bg-menu;
	float: right;
	color: $color-text;
	@include trans('all');
	&:hover {
		background-color: $color-bg-menu;
		//color: #fff;
	}
}
.button.topper {
	float:right;
	@include m-r('double');
	background-color: #fff;
	&:hover {
		background-color: $color-heading-alt;
		//color: #fff;
	}
}

.button-language {
	@include m-r('double');
	margin-left: 2px;
}

.button-search-action {
	@extend %button;
	//background-color: $color-bg-menu;
	//@include m-r('normal');
	@include m-r('half');
	float: right;
	padding: 2px 8px 2px 10px;

	margin-top: 5px;
	@include MQ(S) {
		margin-top: 10px;
	}
	@include MQ(L) {
		margin-top: 10px;
	}


	width: auto;
	height: $height-searchbar-L - 20px;
	line-height: 25px;
	color: $color-text;
	background-color: #fff;
	@include trans('all');
	&:hover {
		background-color: $color-heading-alt;
		color: #fff;
	}
}

.button.instagram,
.button.facebook,
.button.pintrest,
.button.email,
.button-next-gallery,
.button-previous-gallery {
	@extend %button;
	@include trans('all');
	margin-left: 2px;
	background-color: $color-gallery-social-bt;
	float:right;
	a:hover & {
		background-color: $color-gallery-bt-hover;
	}
}
.button-next-gallery,
.button-previous-gallery {
	background-color: $color-gallery-next-prev-bt;
	background-image: url('../img/arrow_prev.svg');
	.no-svg & {
		background-image: url('../img/arrow_prev.png');
	}
}
.button-next-gallery {
	background-image: url('../img/arrow_next.svg');
	.no-svg & {
		background-image: url('../img/arrow_next.png');
	}
}

.button-filters {
	background-image: url('../img/arrow_top.svg');
	.no-svg & {
		background-image: url('../img/arrow_top.png');
	}
	&.closed {
		background-image: url('../img/arrow_bottom.svg');
		.no-svg & {
			background-image: url('../img/arrow_bottom.png');
		}
	}
}
.button-filters {
	@extend %button;
	float:right;
	background-color: $color-gallery-social-bt;
	text-align: left;
	padding: 0 10px 0 20px;
	background-position: right center;
	background-repeat: no-repeat;
	width: 100%;
	@include m-l('double');
	@include m-r('double');
	@include MQ(L) {
		//width:50%;
		//@include m-l('double');
	}

}

.button-contact, .button-newsletter {

	width: $width-button-contact-S;
	height: $height-button-contact-S;
	@include border-radius($height-button-contact-S);
	@include MQ(M) {
		width: $width-button-contact-M;
		height: $height-button-contact-M;
		@include border-radius($height-button-contact-M);
	}
	@include MQ(L) {
		width: $width-button-contact-L;
		height: $height-button-contact-L;
		@include border-radius($height-button-contact-L);
	}
	@include MQ(XL) {
		width: $width-button-contact-XL;
		height: $height-button-contact-XL;
		@include border-radius($height-button-contact-XL);
	}

	@include trans('all');
	//margin-right: 20px;
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: $color-roze;
	&:hover {
		background-color: $color-blue;
	}
	.social & {
		float:left;
		margin-right: 20px;
		width: $width-button-contact-S;
		height: $height-button-contact-S;
		@include border-radius($height-button-contact-S);
	}
}
.button-newsletter {
	background-color: $color-green-dark;
}

////////////////////////////////////////////////////////////////////////
// Contact object to use in a column
// http://howtocenterincss.com/#contentType=div&content.width=100px&content.height=100px&horizontal=center&vertical=middle&browser.IE=9
////////////////////////////////////////////////////////////////////////
.newsletter-container, .contact-item {
	position:absolute;
	left:50%;
	top:50%;

	margin-left: -($width-button-contact-XS / 2);
	margin-top: -($width-button-contact-XS / 2);
	width: $width-button-contact-XS;
	height: $width-button-contact-XS;

	@include MQ(S) {
		margin-left: -($width-button-contact-S / 2);
		margin-top: -($width-button-contact-S / 2);
		width: $width-button-contact-S;
		height: $width-button-contact-S;
	}
	@include MQ(M) {
		margin-left: -($width-button-contact-M / 2);
		margin-top: -($width-button-contact-M / 2);
		width: $width-button-contact-M;
		height: $width-button-contact-M;
	}
	@include MQ(L) {
		margin-left: -($width-button-contact-L / 2);
		margin-top: -($width-button-contact-L / 2);
		width: $width-button-contact-L;
		height: $width-button-contact-L;
	}
	@include MQ(XL) {
		margin-left: -($width-button-contact-XL / 2);
		margin-top: -($width-button-contact-XL / 2);
		width: $width-button-contact-XL;
		height: $width-button-contact-XL;
	}

}


